
.blog_details {

    font-family: "Poppins", serif;

    .blog_details_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px 60px;

        .blog_image {
            width: 100%;
            background-color: #C1C1C1;
            height: 600px;
        }
    
        .comments {
            font-family: "Poppins", serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    
        .title {
            padding-top: 18px;
            font-family: "Poppins", serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 36.31px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
    
        .blog_title_description {
            padding-top: 60px;
            width: 100%;
        }
    
        .description {
            font-family: "Poppins", serif;
            padding-top: 60px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }

        .section_quote {
            margin-top: 60px;
            width: 100%;
            height: 210px;
             background: #252525;
            box-shadow: 0px 0px 30px 0px #00000033;

        }

        .section_image_description {
            display: flex;
            flex-direction: row;
            padding-top: 60px;

            .image_container {
                width: 50%;
                height: 100%;
                padding-right: 30px;
            }

            .padding {
                padding-right: 30px;
            }

            .description_container {
                width: 50%;
                height: 100%;

                .title {
                    padding-top: 0px;
                    margin-top: 0px;
                    font-family: "Poppins", serif;
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 25.41px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }

                .description {
                    padding-top: 30px;
                    font-family: "Poppins", serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                }


            }
        }

        .section_bottom {
            display: flex;
            flex-direction: column;
            width: 100%;
   

            .social_media_container {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                height: 37px;
                margin-top: 90px;

                .tags {
                    margin: auto 0px;
                    display: flex;
                    flex-direction: row;
                    width: fit-content;
                    height: 100%;
                    font-size: 21px;
                    font-weight: 700;
                    line-height: 37px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;
                    gap:5px;

                    span {
                    margin: auto 0px;
                    padding: 5px 15px;
                font-size: 16px;
                font-weight: 500;
                line-height: 25.41px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;

                    background: #252525;
                    border-radius: 16px;

                    }

                }

                .social_media{
                    margin-top: 27px;
                    display:flex;
                    flex-direction:row;
                    gap:20px;
                  }
            
            }

            .navigation {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;
                gap:30px;
                height: 210px;
                margin: 90px 0px;

                .previouse {
                    display: flex;
                    flex-direction: row;
                    width: 50%;
                    height: 100%;
                    background: #252525;
                    box-shadow: 0px 0px 30px 0px #00000033;

                    .blog_image {
                        width: 210px;
                        height: 210px;
                        background-color: #C1C1C1;
                    }
    
                    .content_container {
                        display: flex;
                        flex-direction: column;
                        padding: 30px;
                        height: 100%;
                    }
                    
                    .top{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.94px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;

                    }

                    .title{
font-size: 21px;
font-weight: 700;
line-height: 25.41px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


                    }

                    span{
                        cursor: pointer;
                        margin-top: auto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19.36px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;
                    }

                }

                .next{
                    display: flex;
                    flex-direction: row;
                    width: 50%;
                    height: 100%;
                    background: #252525;
                    box-shadow: 0px 0px 30px 0px #00000033;

                    .blog_image {
                        width: 210px;
                        height: 210px;
                        background-color: #C1C1C1;
                    }
    
                    .content_container{
                        display: flex;
                        flex-direction: column;
                        padding: 30px;
                        height: 100%;
                    }
                    
                    .top{
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.94px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;

                    }

                    .title{
font-size: 21px;
font-weight: 700;
line-height: 25.41px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;


                    }

                    span{
                        cursor: pointer;
                        margin-top: auto;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19.36px;
                        text-align: left;
                        text-underline-position: from-font;
                        text-decoration-skip-ink: none;

                        svg {
                            padding-left: 5px;
                        }
                    }
                }
            }

        }

    }



}