.page {
  background-color: var(--background);
}


.home {
  background-color: #181a28;

  .banner_section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    background: url("/assets/banner-animation.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    h2 {
      font-family: "Poppins", serif;
      font-size: 68px;
      font-weight: 700;
      line-height: 72.83px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-wrap: nowrap;
      color: var(--white);
    }

    .star_container {
        display: flex;
        flex-direction: row;
        margin-left: 230px;
        margin-top: 23vh;

        .star {
          transform: translate(10px,-100px);
        }
    }
  
    .title_one {
      width: fit-content;

      span{
        color: #00ed85;
      }
    }
  
    .title_two {
      margin-left: 230px;
      margin-top: auto;
      transform: translateY(15px);
      span{
        color: #00ed85;
      }
    }
  
    button{
      border-style: solid;
      background: rgb(0,90,85);
      background: linear-gradient(270deg, rgba(0,90,85,1) 0%, rgba(0,115,93,1) 17%, rgba(0,236,132,1) 100%);
      margin-left: 230px;
      margin-top: 30px;
      margin-bottom: 80px;
      border-width: 1px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 45px;
      border-radius: 45px;
       font-family: "Poppins", serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--balck)
    }
    
  }
  
  .section_one {
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  
    .top {
      margin-top: 120px;
      margin-bottom: 60px;
  
      h3 {
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
  
      p{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100)
      }
  
     }
  
    .image_container {
      background-color: var(--gray-200);
      height: 524px;
      width: 100%;
    }
  
    .bottom {
       width: 100%;
       padding: 40px 0px 60px 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
  
       button {
        margin: auto;
       }
  
       .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        margin-bottom: 40px;
  
        .item {
           font-family: "Poppins", serif;
          font-size: 42px;
          font-weight: 700;
          line-height: 50.83px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
    
          h3 {
             font-family: "Poppins", serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 50.83px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white)
          }
          p {
             font-family: "Poppins", serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100);
            text-wrap: nowrap;
          }
         }
  
       }
  
  
    }
  
  }
  
  .inter_mediate_section{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 0px;
    text-wrap: nowrap;
  
     font-family: "Poppins", serif;
    font-size: 51px;
    font-weight: 700;
    line-height: 61.72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray-150);
  }
  
  .section_two {
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  
    .top {
      margin-top: 80px;
      margin-bottom: 60px;
  
      h3 {
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
  
      p{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100)
      }
  
     }
  
    .card_container {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      height: fit-content;
      width: 100%;

      .react-multi-carousel-list{
        display: flex;
        flex-direction: row;
        width: 100%;
      }

      .react-multi-carousel-item {
        width: 521px !important;
      }

      .react-multi-carousel-track {
        width: 100%;
      }

      .card {
        display: flex;
        flex-direction: column;
        width: 521px;
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        // height: 522px;

 

        // .background-img {
        //   position: absolute;
        //   width: 100%;
        //   height: 100%;
        //   z-index: 0;
        // }

        .background-img:hover {
             background: rgba(0, 0, 0, 0.5);
             background-blend-mode: multiply;
         }
  
        .bottom {
          z-index: 100;
          display: flex;
          flex-direction: column;
          margin-top: auto;
          width: 100%;
          padding: 25px;
          height: 200px;
          background-color: #212236;
  
          .title {
             font-family: "Poppins", serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white);
          }
  
          .sub_title {
             font-family: "Poppins", serif;
             margin-top: 6px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100)
          }
  
          .icon_highlight {
            display: flex;
            margin-top: auto;
            flex-direction: row;
            width: 100%;
            
  
            .wrapper {
              display: flex;
              flex-direction: row;
              width: fit-content;
              align-items: center;
              font-family: "Poppins", serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #C1C1C1;

              img{
                margin-right: 5px;
                width: fit-content;
              }
            }
  
          }
        }
      }

      .overlay {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        width: 521px;
        background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.5));
        z-index: 2; 
        opacity: 0;
        cursor: pointer;

        img{
          margin-top: 200px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .overlay:hover {
        img{
          animation: blink 0.5s linear infinite;
        }
      }

      .card:hover{
        .overlay{
          opacity: 1;
        }
      }
  
      :not(:last-child) {
        margin-right: 40px;
      }
  
    }
  
  }
  
  .section_three {
    display: flex;
    flex-direction: row;
    height: 930px;
    width: 100%;
    margin-top: 60px;

    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .padding {
        padding-right: 19px;
      }

      .image_container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .image {
          height: 652px;
          width: 100%;
        }

      }


      .podcast_room {
        background: url('/assets/images/Exclusive Highlights_V1-01.webp');
       }

       .seo_service{
        background: url('/assets/images/Exclusive Highlights_V1-02.webp');
       }

       .led_panel{
        background: url('/assets/images/Exclusive Highlights_V1-03.webp');
       }

       .content_creation{
        background: url('/assets/images/Exclusive Highlights_V1-04.webp');
       }


    }


    .bottom {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      // background-color: #212236;
  
      .strip {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: var(--gray-300);
        
        .con{
          position: absolute;
          width: 4px;
          height: 100px;
          background-color: #00ed85;
        }

      }
  
      .wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        width: 100%;
        margin-left: 20px;
  
        .title{
           font-family: "Poppins", serif;
          font-size: 21px;
          font-weight: 700;
          line-height: 25.41px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--white);
        }
        .description{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100);
          
        }
        .number{
           font-family: "Poppins", serif;
          font-size: 51px;
          font-weight: 700;
          line-height: 61.72px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-300);
          margin-top: auto;
        }
      }
  
    }

    .extra{
      padding-left: 20px;
    }


  }
  
  .section_description {
    display: flex;
    flex-direction: row;
    width: 100%;


    .item {
      display: flex;
      position: relative;
      width: 100%;
      // padding-left: 15px;
      // width: 430px;
      background-color: #212236;
  
      .strip {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: var(--gray-300);
        
        .con{
          position: absolute;
          width: 4px;
          height: 100px;
          background-color: #00ed85;
        }

      }
  
      .wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        width: 100%;
        margin-left: 20px;
  
        .title {
           font-family: "Poppins", serif;
          font-size: 21px;
          font-weight: 700;
          line-height: 25.41px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--white);
        }

        .description{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100);
          
        }

        .number{
          font-family: "Poppins", serif;
          font-size: 51px;
          font-weight: 700;
          line-height: 61.72px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-300);
          margin-top: auto;
        }
      }
  
    }

    .extra{
      padding-left: 20px;
    }
  
  }

  
  .section_four {
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  

    .middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
      margin: auto;
      padding: 100px 0px;
  
      .title{
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
        margin-bottom: 30px;
      }
      .description{
         font-family: "Poppins", serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--gray-100);
        margin-bottom: 30px;
      }
      button {
         margin: auto;
      }
    }
  
    .bottom {
      display: flex;
      width: 100%;
  
      .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 40px 0px;
        height: 800px;
  
        .left {
          height: 100%;
          width: 50%;
          background-image: url('/assets/images/Code Crafted-01.webp');
          // background-color: var(--gray-200);
        }
  
        .right {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 50%;
          padding: 50px;
          background-color: #212236;
          
  
          .title {
             font-family: "Poppins", serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 50.83px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
  
          .sub_title{
             font-family: "Poppins", serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
  
          .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            width: 100%;
  
            .item {
                margin-right: 20px;
                margin-bottom: 10px;
                width: fit-content;
                height: fit-content;
                font-family: "Poppins", serif;
                padding: 8px 18px;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: var(--white);
                background-color: var(--gray-300);
                border-radius: 20px;
                box-shadow: 0px 0px 30px 0px #00000033;
                text-wrap: nowrap;
            }
          }
  
        }
      }
  
    }
  
  }
  
  .section_five {
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  
    .top {
      margin-top: 60px;
      margin-bottom: 60px;
  
      h3 {
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
  
      p{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100)
      }
  
     }
  
    .card_container {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      height: 524px;
      width: 100%;
  
      .card {
        display: flex;
        flex-direction: column;
        background-color: var(--gray-200);

        width: 400px;
        height: 100%;

        .bottom {
          display: flex;
          flex-direction: column;
          margin-top: auto;
          width: 100%;
          padding: 30px;
          height: 160px;
          background-color: #212236;
     
  
          .title {
             font-family: "Poppins", serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white);
          }
  
          .sub_title {
             font-family: "Poppins", serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding-bottom: 10px;
            color: var(--gray-100)
          }
  
          .icon_highlight {
            display: flex;
            margin-top: auto;
            flex-direction: row;
            width: 100%;
  
            .wrapper {
              display: flex;
              flex-direction: row;
              width: fit-content;
              align-items: center;
  
              img{
                margin-right: 5px;
              }
            }
  
          }
        }
      }
  
      .card:first-of-type {
        width: 800px;
      }
  
      :not(:last-child) {
        margin-right: 40px;
      }
  
    }
  
  } 

  .section_six {
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
    width: 100%;

    .title {
      font-family: "Poppins", serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 44px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-wrap: nowrap;
      color: var(--white);
    }

    .container {
      display: flex;
      flex-direction: row;
      padding-top: 60px;
      gap: 40px;
      justify-content: center;
      width: 100%;

          .item {
            width: 100%;
            height: 189px;
            background: #252525;
            box-shadow: 0px 0px 30px 0px #00000033;
          }
    }
  
  }
}


@media (max-width: 480px) {
  /* Styles for small phones */
}

@media (max-width: 768px) {
  /* Styles for phones */
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
}

@media (min-width: 1024px) and (max-width: 1200px) {
  /* Styles for desktops */
}


@media (min-width: 1200px) {
  /* Styles for wide screens */
}

