.page {
  background-color: var(--background);
  font-family: "Poppins", serif;
}


.home {
  background-color: #181a28;

  .banner_section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    background: url("/assets/Hero Banner-Animation.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  
    // h2 {
    //   font-family: "Poppins", serif;
    //   font-size: 68px;
    //   font-weight: 700;
    //   line-height: 72.83px;
    //   text-align: left;
    //   text-underline-position: from-font;
    //   text-decoration-skip-ink: none;
    //   text-wrap: nowrap;
    //   color: var(--white);
    // }

    // .star_container {
    //     display: flex;
    //     flex-direction: row;
    //     margin-left: 230px;
    //     margin-top: 23vh;

    //     .star {
    //       transform: translate(10px,-100px);
    //     }
    // }
  
    // .title_one {
    //   width: fit-content;

    //   span{
    //     color: #00ed85;
    //   }
    // }
  
    // .title_two {
    //   margin-left: 230px;
    //   margin-top: auto;
    //   transform: translateY(15px);
    //   span{
    //     color: #00ed85;
    //   }
    // }
  
    .primay_button {
      margin-top: auto;
      margin-left: 230px;
      margin-bottom: 5vh;
    }
    
  }
  
  .section_one {
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  
    .top {
      margin-top: 120px;
      margin-bottom: 60px;
  
      h3 {
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
  
      p{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100)
      }
  
     }
  
    .image_container {
      background-color: var(--gray-200);
      height: 524px;
      width: 100%;
    }
  
    .bottom {
       width: 100%;
       padding: 40px 0px 60px 0px;
       display: flex;
       flex-direction: column;
       justify-content: center;
  
       button {
        margin: auto;
       }
  
       .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        margin-bottom: 40px;
  
        .item {
           font-family: "Poppins", serif;
          font-size: 42px;
          font-weight: 700;
          line-height: 50.83px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
    
          h3 {
             font-family: "Poppins", serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 50.83px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white)
          }
          p {
             font-family: "Poppins", serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100);
            text-wrap: nowrap;
          }
         }
  
       }
  
  
    }
  
  }
  
  .inter_mediate_section {
    display: none;
    flex-direction: row;
    width: 100%;
    padding: 30px 0px;
    text-wrap: nowrap;
    font-family: "Poppins", serif;
    font-size: 51px;
    font-weight: 700;
    line-height: 61.72px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--gray-150);
  }
  
  .section_two {
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
    margin-bottom: 60px;

    .react-multi-carousel-list {

        .item {
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 0px 15px;
          height: 721px;
        }

        .img {
          height: 521px;
        }

        .bottom {
          z-index: 100;
          display: flex;
          flex-direction: column;
          margin-top: auto;
          width: 100%;
          padding: 25px;
          height: 200px;
          background-color: #212236;
  
          .title {
             font-family: "Poppins", serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white);
          }
  
          .sub_title {
             font-family: "Poppins", serif;
             margin-top: 6px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100)
          }
  
          .icon_highlight {
            display: flex;
            margin-top: auto;
            flex-direction: row;
            width: 100%;
            
  
            .wrapper {
              display: flex;
              flex-direction: row;
              width: fit-content;
              align-items: center;
              font-family: "Poppins", serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 16px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #C1C1C1;

              img{
                margin-right: 5px;
                width: fit-content;
              }
            }
  
          }
        }
    }

    .react-multi-carousel-dot-list {
      display: none;
    }

//  /assets/images/BrandForge.webp
// /assets/images/WebCommerce.webp
// /assets/images/LensCraft Studios.webp
// /assets/images/ProjeXpert.webp
// /assets/images/CutCraft Studios.webp
// /assets/images/MarketBlaze.webp
// /assets/images/Customease.webp
// /assets/images/SocialMuse.webp
// /assets/images/InsightMedia.webp

    .img_1{
      background-image: url('/assets/images/BrandForge.webp');
      width: 100%;
      height: 100%;
    }

     .img_2{
      background-image: url('/assets/images/WebCommerce.webp');
     }

     .img_3{
      background-image: url('/assets/images/ProjeXpert.webp');
     }

     .img_4{
      background-image: url('/assets/images/CutCraft Studios.webp');
     }
     
     .img_5{
      background-image: url('/assets/images/MarketBlaze.webp');
     }
     .img_6{
      background-image: url('/assets/images/Customease.webp');
     }
     .img_7{
      background-image: url('/assets/images/SocialMuse.webp');
     }
     .img_8{
      background-image: url('/assets/images/InsightMedia.webp');
     }
  
    .top {
      margin-top: 80px;
      margin-bottom: 60px;
  
      h3 {
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
  
      p{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100)
      }
  
     }
  

  }
  
  .section_three {
    display: flex;
    flex-direction: row;
    height: 930px;
    width: 100%;
    margin-top: 60px;
    position: relative;

    .high_light{
      display: flex;
      flex-direction: row;
      position: absolute;
      top: 30px;
      left: 20px;
      width: 100%;

      .title{
        font-family: "Poppins", serif;
        font-size: 44px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        text-wrap: nowrap;
        color: var(--white);
      }

      .bar {
       width: 4px;
       height: 50px;
       background-color: #00ed85;
       margin-left: 10px;
      }

      .description{
        margin: auto 0px;
        font-family: "Poppins", serif;
        font-size: 14px;
        padding-left: 10px;
        max-width: 700px;
        font-weight: 400;
        line-height: 16.4px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
      
    }

    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;

      .padding {
        padding-right: 19px;
      }

      .image_container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .image {
          height: 652px;
          width: 100%;
        }

      }


      .podcast_room {
        background: url('/assets/images/Exclusive Highlights_V1-01.webp');
       }

       .seo_service{
        background: url('/assets/images/Exclusive Highlights_V1-02.webp');
       }

       .led_panel{
        background: url('/assets/images/Exclusive Highlights_V1-03.webp');
       }

       .content_creation{
        background: url('/assets/images/Exclusive Highlights_V1-04.webp');
       }


    }


    .bottom {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: 15px;
      // background-color: #212236;
  
      .strip {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: var(--gray-300);
        
        .con{
          position: absolute;
          width: 4px;
          height: 100px;
          background-color: #00ed85;
        }

      }
  
      .wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        width: 100%;
        margin-left: 20px;
  
        .title{
           font-family: "Poppins", serif;
          font-size: 21px;
          font-weight: 700;
          line-height: 25.41px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--white);
        }
        .description{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100);
          
        }
        .number{
           font-family: "Poppins", serif;
          font-size: 51px;
          font-weight: 700;
          line-height: 61.72px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-300);
          margin-top: auto;
        }
      }
  
    }

    .extra{
      padding-left: 20px;
    }


  }
  
  .section_description {
    display: flex;
    flex-direction: row;
    width: 100%;


    .item {
      display: flex;
      position: relative;
      width: 100%;
      // padding-left: 15px;
      // width: 430px;
      background-color: #212236;
  
      .strip {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: var(--gray-300);
        
        .con{
          position: absolute;
          width: 4px;
          height: 100px;
          background-color: #00ed85;
        }

      }
  
      .wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 45px;
        width: 100%;
        margin-left: 20px;
  
        .title {
           font-family: "Poppins", serif;
          font-size: 21px;
          font-weight: 700;
          line-height: 25.41px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--white);
        }

        .description{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100);
          
        }

        .number{
          font-family: "Poppins", serif;
          font-size: 51px;
          font-weight: 700;
          line-height: 61.72px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-300);
          margin-top: auto;
        }
      }
  
    }

    .extra{
      padding-left: 20px;
    }
  
  }

  .section_four {
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  

    .middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 800px;
      margin: auto;
      padding: 100px 0px;
  
      .title{
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
        margin-bottom: 30px;
      }
      .description{
         font-family: "Poppins", serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--gray-100);
        margin-bottom: 30px;
      }
      button {
         margin: auto;
      }
    }
  
    .bottom {
      display: flex;
      width: 100%;
  
      .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 40px 0px;
        height: 800px;
  
        .left {
          height: 100%;
          width: 50%;
          background-image: url('/assets/images/Code Crafted-01.webp');
          // background-color: var(--gray-200);
        }
  
        .right {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 50%;
          padding: 50px;
          background-color: #212236;
          
  
          .title {
             font-family: "Poppins", serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 50.83px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
  
          .sub_title{
             font-family: "Poppins", serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
          }
  
          .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: fit-content;
            width: 100%;
  
            .item {
                margin-right: 20px;
                margin-bottom: 10px;
                width: fit-content;
                height: fit-content;
                font-family: "Poppins", serif;
                padding: 8px 18px;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: var(--white);
                background-color: var(--gray-300);
                border-radius: 20px;
                box-shadow: 0px 0px 30px 0px #00000033;
                text-wrap: nowrap;
            }
          }
  
        }
      }
  
    }
  
  }
  
  .section_five {
    min-height: 100vh;
    padding: 0px 60px;
    width:100%;
    max-width: 100%;
  
    .top {
      margin-top: 60px;
      margin-bottom: 60px;
  
      h3 {
         font-family: "Poppins", serif;
        font-size: 42px;
        font-weight: 700;
        line-height: 50.83px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--white);
      }
  
      p{
           font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--gray-100)
      }
  
     }
  
    .card_container {
      display: flex;
      flex-direction: row;
      margin-bottom: 60px;
      height: 524px;
      width: 100%;
  
      .card {
        display: flex;
        flex-direction: column;
        background-color: var(--gray-200);

        width: 400px;
        height: 100%;

        .bottom {
          display: flex;
          flex-direction: column;
          margin-top: auto;
          width: 100%;
          padding: 30px;
          height: 160px;
          background-color: #212236;
     
  
          .title {
             font-family: "Poppins", serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white);
          }
  
          .sub_title {
             font-family: "Poppins", serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 16.94px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            padding-bottom: 10px;
            color: var(--gray-100)
          }
  
          .icon_highlight {
            display: flex;
            margin-top: auto;
            flex-direction: row;
            width: 100%;
  
            .wrapper {
              display: flex;
              flex-direction: row;
              width: fit-content;
              align-items: center;
  
              img{
                margin-right: 5px;
              }
            }
  
          }
        }
      }
  
      .card:first-of-type {
        width: 800px;
      }
  
      :not(:last-child) {
        margin-right: 40px;
      }
  
    }

    .react-multi-carousel-list{
      display: none;
    }
  
  } 

  .section_six {
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
    width: 100%;

    .title {
      font-family: "Poppins", serif;
      font-size: 40px;
      font-weight: 700;
      line-height: 44px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-wrap: nowrap;
      color: var(--white);
    }

    .container {
      display: flex;
      flex-direction: row;
      padding-top: 60px;
      gap: 40px;
      justify-content: center;
      width: 100%;

          .item {
            width: 100%;
            height: 189px;
            background: #252525;
            box-shadow: 0px 0px 30px 0px #00000033;
          }
    }
  
  }
}


@media (max-width: 480px) {
  /* Styles for small phones */
}

@media (max-width: 768px) {
  /* Styles for phones */
  .home {
    background-color: #181a28;
  
    .banner_section {
      display: flex;
      flex-direction: column;
      height: 100vh;
      min-height: 100vh;
      padding: 0px 20px;
      width:100%;
      background: url("/assets/HB-Mobile.gif");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    
      // h2 {
      //   display: none;
      //   font-family: "Poppins", serif;
      //   font-size: 68px;
      //   font-weight: 700;
      //   line-height: 72.83px;
      //   text-align: left;
      //   text-underline-position: from-font;
      //   text-decoration-skip-ink: none;
      //   text-wrap: nowrap;
      //   color: var(--white);
      // }
  
      // .star_container {
      //   display: none;
      //     flex-direction: row;
      //     margin-left: 230px;
      //     margin-top: 23vh;
  
      //     .star {
      //       transform: translate(10px,-100px);
      //     }
      // }
    
      // .title_one {
      //   display: none;
      //   width: fit-content;
  
      //   span{
      //     color: #00ed85;
      //   }
      // }
    
      // .title_two {
      //   display: none;
      //   margin-left: 230px;
      //   margin-top: auto;
      //   transform: translateY(15px);
      //   span{
      //     color: #00ed85;
      //   }
      // }
    
      .primay_button {
        margin-left: 20px;
        margin-top: auto;
        margin-bottom: 8vh;
      }
      
    }
    
    .section_one {
      min-height: 100vh;
      padding: 0px 20px;
      width:100%;
      max-width: 100%;
    
      .top {
        margin-top: 60px;
        margin-bottom: 60px;
    
        h3 {
           font-family: "Poppins", serif;
           font-size: 21px;
           font-weight: 700;
           line-height: 25.41px;
           text-align: center;
           text-underline-position: from-font;
           text-decoration-skip-ink: none;
          color: var(--white);
        }
    
        p{
            font-family: "Poppins", serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100)
        }
    
       }
    
      .image_container {
        background-color: var(--gray-200);
        height: 524px;
        width: 100%;
      }
    
      .bottom {
         width: 100%;
         padding: 40px 0px 0px 0px;
         display: flex;
         flex-direction: column;
         justify-content: center;
    
         button {
          margin: 35px auto auto auto;
          background: linear-gradient(90deg, #00E782 0%, #00E782 50%, #005C55 100%);
         }
    
         .container {
          display: flex;
          flex-direction: row;
          width: 100%;
          margin: auto;
          justify-content: space-around;
          margin-bottom: 40px;
    
          .item {
             font-family: "Poppins", serif;
            font-size: 42px;
            font-weight: 700;
            line-height: 50.83px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
      
            h3 {
               font-family: "Poppins", serif;
               font-size: 21px;
               font-weight: 700;
               line-height: 25.41px;
               text-align: center;
               text-underline-position: from-font;
               text-decoration-skip-ink: none;
               
              color: var(--white)
            }
            p {
               font-family: "Poppins", serif;
               font-size: 8px;
               font-weight: 400;
               line-height: 9.68px;
               text-align: center;
               text-underline-position: from-font;
               text-decoration-skip-ink: none;
                color: var(--gray-100);
                text-wrap: nowrap;
            }
           }
    
         }

         .text_description{
          width: 100%;
          font-family: "Poppins", serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #C1C1C1;
         }
    
    
      }
    
    }
    
    .inter_mediate_section {
      display: none;
      flex-direction: row;
      width: 100%;
      padding: 30px 0px;
      text-wrap: nowrap;
      font-family: "Poppins", serif;
      font-size: 51px;
      font-weight: 700;
      line-height: 61.72px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: var(--gray-150);
    }
    
    .section_two {
      min-height: 100vh;
      padding: 0px 20px;
      width:100%;
      max-width: 100%;
      position: relative;

    
      .top {
        margin-top: 60px;
        margin-bottom: 60px;
    
        h3 {
           font-family: "Poppins", serif;
           font-size: 21px;
           font-weight: 700;
           line-height: 25.41px;
           text-align: center;
           text-underline-position: from-font;
           text-decoration-skip-ink: none;
          color: var(--white);
        }
    
        p{
             font-family: "Poppins", serif;
             padding: 0px 30px;
             font-size: 16px;
             font-weight: 400;
             line-height: 26px;
             text-align: center;
             text-underline-position: from-font;
             text-decoration-skip-ink: none;             
            color: var(--gray-100)
        }
    
       }

       .react-multi-carousel-list  {
        position: relative;
       }

       .react-multi-carousel-dot-list {
        transform: translateY(35px);
        display: flex;
      }


       .react-multiple-carousel__arrow{
        display: none;
       }
    
    }

    .section_three_mobile{
      margin-top: 60px;
      display:flex;
      flex-direction: column;

      .react-multiple-carousel__arrow {
        display: none;
      }

      .react-multi-carousel-dot-list {
        display: none;
      }


      .title {
        font-size: 21px;
        font-weight: 700;
        line-height: 25.41px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }

      .image_container{
        display: flex;
        flex-direction: column;
        width:100%;
        height: 760px;
        background: #565656;
        margin-top: 40px;

       

        .text_container {
          display: flex;
          flex-direction: row;
          margin-top: auto;
          padding: 20px;


          .bar{
            width: 4px;
            height: 100%;
            background: rgba(255, 255, 255, 0.17);
            .inner_bar{
              width: 4px;
              height: 40%;
              background: #00E782;
            }
          }

          .wrapper {
            padding-top: 30px;
            padding-left: 32px;

            .title {
                font-size: 21px;
                font-weight: 700;
                line-height: 25.41px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #FFFFFF;
            }

            .description {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color:#C1C1C1
            }

            .number {
              font-size: 51px;
              font-weight: 700;
              line-height: 61.72px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: rgba(255, 255, 255, 0.1);
            }
          }

        }
      }

      .sub_title {
        padding-top: 6px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #C1C1C1;
      }


    }

    .section_three {
      display: none;
      flex-direction: row;
      height: 930px;
      width: 100%;
      margin-top: 60px;
      position: relative;
  
      .high_light{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 30px;
        left: 20px;
        width: 100%;
  
        .title{
          font-family: "Poppins", serif;
          font-size: 44px;
          font-weight: 700;
          line-height: 48px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          text-wrap: nowrap;
          color: var(--white);
        }
  
        .bar {
         width: 4px;
         height: 50px;
         background-color: #00ed85;
         margin-left: 10px;
        }
  
        .description{
          margin: auto 0px;
          font-family: "Poppins", serif;
          font-size: 14px;
          padding-left: 10px;
          max-width: 700px;
          font-weight: 400;
          line-height: 16.4px;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: var(--white);
        }
        
      }
  
      .card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
  
        .padding {
          padding-right: 19px;
        }
  
        .image_container {
          display: flex;
          flex-direction: row;
          width: 100%;
  
          .image {
            height: 652px;
            width: 100%;
          }
  
        }
  
  
        .podcast_room {
          background: url('/assets/images/Exclusive Highlights_V1-01.webp');
         }
  
         .seo_service{
          background: url('/assets/images/Exclusive Highlights_V1-02.webp');
         }
  
         .led_panel{
          background: url('/assets/images/Exclusive Highlights_V1-03.webp');
         }
  
         .content_creation{
          background: url('/assets/images/Exclusive Highlights_V1-04.webp');
         }
  
  
      }
  
  
      .bottom {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        padding-left: 15px;
        // background-color: #212236;
    
        .strip {
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: var(--gray-300);
          
          .con{
            position: absolute;
            width: 4px;
            height: 100px;
            background-color: #00ed85;
          }
  
        }
    
        .wrapper {
          display: flex;
          flex-direction: column;
          padding-top: 45px;
          width: 100%;
          margin-left: 20px;
    
          .title{
             font-family: "Poppins", serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white);
          }
          .description{
             font-family: "Poppins", serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100);
            
          }
          .number{
             font-family: "Poppins", serif;
            font-size: 51px;
            font-weight: 700;
            line-height: 61.72px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-300);
            margin-top: auto;
          }
        }
    
      }
  
      .extra{
        padding-left: 20px;
      }
  
  
    }
    
    .section_description {
      display: flex;
      flex-direction: row;
      width: 100%;
  
  
      .item {
        display: flex;
        position: relative;
        width: 100%;
        // padding-left: 15px;
        // width: 430px;
        background-color: #212236;
    
        .strip {
          display: flex;
          flex-direction: column;
          position: absolute;
          width: 2px;
          height: 100%;
          background-color: var(--gray-300);
          
          .con{
            position: absolute;
            width: 4px;
            height: 100px;
            background-color: #00ed85;
          }
  
        }
    
        .wrapper {
          display: flex;
          flex-direction: column;
          padding-top: 45px;
          width: 100%;
          margin-left: 20px;
    
          .title {
             font-family: "Poppins", serif;
            font-size: 21px;
            font-weight: 700;
            line-height: 25.41px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--white);
          }
  
          .description{
             font-family: "Poppins", serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-100);
            
          }
  
          .number{
            font-family: "Poppins", serif;
            font-size: 51px;
            font-weight: 700;
            line-height: 61.72px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: var(--gray-300);
            margin-top: auto;
          }
        }
    
      }
  
      .extra{
        padding-left: 20px;
      }
    
    }

    .section_four {
      display: flex;
      flex-direction: column;
      padding: 0px 20px;
      width:100%;
      max-width: 100%;
    
  
      .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
        margin: auto;
        padding: 60px 0px;
    
        .title{
           font-family: "Poppins", serif;
           font-size: 21px;
           font-weight: 700;
           line-height: 25.41px;
           text-align: center;
           text-underline-position: from-font;
           text-decoration-skip-ink: none;           
          color: var(--white);
          margin-bottom: 30px;
        }
        .description{
           font-family: "Poppins", serif;
           font-family: Inter;
           font-size: 16px;
           font-weight: 400;
           line-height: 26px;
           text-align: center;
           text-underline-position: from-font;
           text-decoration-skip-ink: none;           
          color: var(--gray-100);
          margin-bottom: 30px;
        }
        button {
           margin: auto;
           background: linear-gradient(90deg, #00E782 0%, #00E782 50%, #005C55 100%);
        }
      }
    
      .bottom {
        display: flex;
        width: 100%;
    
        .container {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0px 0px;
          height: 100%;
    
          .left {
            height: 650px;
            width: 100%;
            // background-image: url('/assets/images/Code Crafted-01.webp');
            background-color: var(--gray-200);
          }
    
          .right {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 20px;
            background-color: #212236;
            
    
            .title {
               font-family: "Poppins", serif;
               font-size: 16px;
               font-weight: 700;
               line-height: 19.36px;
               text-align: left;
               text-underline-position: from-font;
               text-decoration-skip-ink: none; 
            }
    
            .sub_title{
              font-family: "Poppins", serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 26px;
              text-align: left;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #C1C1C1;
            }
    
            .container {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              height: fit-content;
              width: 100%;
              padding: 15px 0px;
    
              .item {
                  margin-right: 20px;
                  margin-bottom: 10px;
                  width: fit-content;
                  height: fit-content;
                  font-family: "Poppins", serif;
                  padding: 4px 15px;
font-size: 10px;
font-weight: 500;
line-height: 26px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;

                  color: var(--white);
                  background-color: var(--gray-300);
                  border-radius: 20px;
                  box-shadow: 0px 0px 30px 0px #00000033;
                  text-wrap: nowrap;
              }


            }

            button{
              margin: 35px auto auto auto;
              background: linear-gradient(90deg, #00E782 0%, #00E782 50%, #005C55 100%);
            }

            .text_description {
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              text-align: center;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;
              color: #C1C1C1;
            }
    
          }
        }
    
      }
    
    }
    
    .section_five {
      min-height: 100vh;
      padding: 0px 20px;
      width:100%;
      max-width: 100%;
    
      .top {
        margin-top: 45px;
        margin-bottom: 40px;
    
        h3 {
           font-family: "Poppins", serif;
           font-size: 21px;
           font-weight: 700;
           line-height: 25.41px;
           text-align: center;
           text-underline-position: from-font;
           text-decoration-skip-ink: none;           
           color: var(--white);
        }
    
        p{
             font-family: "Poppins", serif;
             font-size: 16px;
             font-weight: 400;
             line-height: 26px;
             text-align: center;
             text-underline-position: from-font;
             text-decoration-skip-ink: none;
             padding: 15px 30px;
            color: var(--gray-100)
        }
    
       }
    
      .card_container {
        display: none;
        flex-direction: row;
        margin-bottom: 60px;
        height: 524px;
        width: 100%;
    
        .card {
          display: flex;
          flex-direction: column;
          background-color: var(--gray-200);
  
          width: 400px;
          height: 100%;
  
          .bottom {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            width: 100%;
            padding: 20px;
            height: 160px;
            background-color: #212236;
       
    
            .title {
               font-family: "Poppins", serif;
               font-size: 16px;
               font-weight: 700;
               line-height: 19.36px;
               text-align: left;
               text-underline-position: from-font;
               text-decoration-skip-ink: none;               
               color: var(--white);
            }
    
            .sub_title {
               font-family: "Poppins", serif;
               font-size: 12px;
               font-weight: 400;
               line-height: 26px;
               text-align: left;
               text-underline-position: from-font;
               text-decoration-skip-ink: none; 
               text-wrap: nowrap;              
              padding-bottom: 10px;
              color: var(--gray-100)
            }
    
            .icon_highlight {
              display: flex;
              margin-top: auto;
              flex-direction: row;
              width: 100%;
    
              .wrapper {
                display: flex;
                flex-direction: row;
                width: fit-content;
                align-items: center;
    
                img{
                  margin-right: 5px;
                }
              }
    
            }
          }
        }
    
        .card:first-of-type {
          width: 800px;
        }
    
        :not(:last-child) {
          margin-right: 40px;
        }
    
      }

      .react-multi-carousel-list {
        display: flex;

        .card {
          display: flex;
          flex-direction: column;
          background-color: var(--gray-200);
          width: 100%;
          height: 500px;
  
          .bottom {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            width: 100%;
            padding: 20px;
            height: fit-content;
            background-color: #212236;
       
            .title {
               font-family: "Poppins", serif;
               font-size: 16px;
               font-weight: 700;
               line-height: 19.36px;
               text-align: left;
               text-underline-position: from-font;
               text-decoration-skip-ink: none;
               
               text-decoration-skip-ink: none;               
               color: var(--white);
            }
    
            .sub_title {
               font-family: "Poppins", serif;

               font-size: 12px;
               font-weight: 400;
               line-height: 26px;
               text-align: left;
               text-underline-position: from-font;
               text-decoration-skip-ink: none;
               
               text-wrap: nowrap;              
              padding-bottom: 10px;
              color: var(--gray-100)
            }

            .view_more{
              font-size: 12px;
              font-weight: 500;
              line-height: 26px;
              text-align: right;
              text-decoration-line: underline;
              text-decoration-style: solid;
              text-underline-position: from-font;
              text-decoration-skip-ink: none;

            }
    
          }
        }
      }

      .react-multi-carousel-dot-list{
        position: relative !important;
      }

      .react-multiple-carousel__arrow{
        display: none;
      }

    
    } 
  
    .section_six {
      display: flex;
      flex-direction: column;
      padding: 40px 20px;
      width: 100%;
  
      .title {
        font-family: "Poppins", serif;
        font-size: 21px;
        font-weight: 700;
        line-height: 25.41px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;        
        text-wrap: nowrap;
        color: var(--white);
      }
  
      .container {
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        gap: 15px;
        justify-content: center;
        width: 100%;
  
            .item {
              width: 100%;
              height: 50px;
              background: #565656;
              box-shadow: 0px 0px 30px 0px #00000033;
            }
      }
    
    }
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
}

@media (min-width: 1024px) and (max-width: 1200px) {
  /* Styles for desktops */
}


@media (min-width: 1200px) {
  /* Styles for wide screens */
}

